#btn1{
    position: absolute;
    left: 172px;
    top: 658px;
}

#btn2{
    position: absolute;
    left: 740px;
    top: 658px;
}

#btn3{
    position: absolute;
    left: 1309px;
    top: 658px;
}

#btn4{
    position: absolute;
    left: 455px;
    top: 861px;
}

#btn5{
    position: absolute;
    left: 1019px;
    top: 861px;
}

#answer1Label{
    position: absolute;
    left: 322px;
    top: 648px;
}

#answer2Label{
    position: absolute;
    left: 890px;
    top: 648px;
}

#answer3Label{
    position: absolute;
    left: 1459px;
    top: 648px;
}

#answer4Label{
    position: absolute;
    left: 605px;
    top: 853px;
}

#answer5Label{
    position: absolute;
    left: 1169px;
    top: 853px;
}
#answer1Label,#answer2Label,#answer3Label,#answer4Label,#answer5Label{
    height: 110px;
    width: 400px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#timePlayerOneLabel{
    position: absolute;
    left: 811px;
    top: 454px;
    width: 97px;
    text-align: center;
}

#timePlayerTwoLabel{
    position: absolute;
    left: 1012px;
    top: 454px;
    width: 97px;
    text-align: center;
}

#timePlayerOneLabel,#timePlayerTwoLabel{
    font-size: 55px;
    z-index: 2;
}

#playerOneBlueLabel,#playerOneRedLabel{
    position:absolute;
    left: 804px;
    top: 436px;
    z-index: 1;
}
#playerTwoBlueLabel,#playerTwoRedLabel{
    position: absolute;
    left: 1003px;
    top: 436px;
    z-index: 1;
}

div{
    color: white;
    font-size: 40px;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
}